.title {
    margin: 50px;
}

ul, li {
    list-style-type: none; 
    display: inline;   
    padding: 0;
}

.back,
.img-list {
    width: 120px;
    height: 120px;
    border: 1px solid black;
}

.back {
	background: rgb(187, 245, 160);
}

#img {
	background: red;
	height: 50px;
	width: 50px;
}


