#matrix {
    list-style-type: none;
}
li {
    width: 100px;
    height: 100px;
}

#id_1 {
    background: url(images/batman.jpg) no-repeat center;
}

#id_2 {
    background: url(images/captain.jpg) no-repeat center;
}

#id_3 {
    background: url(images/halk.jpg) no-repeat center;
}

#id_4 {
    background: url(images/iron.jpg) no-repeat center;
}

#id_5 {
    background: url(images/supernman.jpg) no-repeat center;
}

#id_6{
    background: url(images/punisher.jpg) no-repeat center;
}