body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a5abc5;
    background: #eceef4;
    counter-reset: heading;
}

.container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". header ."
    ". main ."
    "footer-container footer-container footer-container"
}

/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    grid-area: header;

    background: #eceef4;
    color: #a5abc5;    
    padding: 50px 0;    
}

    .btn {
        border: 1px solid #d7d9e0;
        padding: 15px 5px;
        color: #a5abc5; 
        background: #eceef4; 
        vertical-align: middle;
        font-weight: bold;
        border-radius: 4px;
        font-size: 11px;
    }

    .btn:hover {
        box-shadow: 0 0 1px rgba(0,0,0,0.5);
    }

    .left__btn svg {
        vertical-align: middle;
        fill-opacity: 0.3;
        margin-right: 4px;
    }

    .fa-user{
        margin-right: 8px;
    }

    .center__img {
        width: 90px;
        display: block;
        margin: 0 auto;
    }

/*main*/
.main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "order"
        "main__grid";

    border: 2px solid #c9d0e1;
    border-radius: 3px;
    background: white;
    color: #a5abc5;
    padding: 0 0 40px;
    overflow: hidden;

    counter-reset: section; 
}
/*main header*/
    .order {
        grid-area: order;
        display: grid;
        grid-template-columns: 3fr 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas:
        "order-title btns help"
        "table btns help";
        border-bottom: 2px solid #d7d9e0;
    }
  
        .order-title {
            font-size: 13px;
            font-weight: bold;
            color: #6e768f;
            padding: 20px 0 0 30px;
            grid-area: order-title;       
        }

            .fa-shopping-bag {
                margin-right: 5px;
            }

        .order-table {
            padding: 0 25px 0 46px;
            grid-area: table;
        }

            .order-table tr {
                font-size: 12px;
                color: #6e768f;
                text-align: left;
            }

            .order-table th {        
                padding: 0px 70px 10px 0;
            }

        .order__btn {
            grid-area: btns;
            margin-left: -30px;
            padding:20px 20px 20px 0;
            border-right: 2px solid #d7d9e0;
        }

        .btn-price,
        .btn-print {
            width: 150px;
        }

        .btn-price {
            background: #5fcac6;
            color: white;
            margin-bottom: 10px;
        }

        .help-center {
            grid-area: help;
            margin-left: 40px;
            padding: 20px 30px 0 0;
        }

            .help-text__icon {
                display: inline;
            }

            .help-text {
                display: inline;
            }

            .fa-life-ring{
                float: left; 
                margin-right: 10px;
            }

                .help-text__title {
                    font-size: 12px;
                    font-weight: bold;
                    margin: 0;
                    padding: 2px 0;
                    color: #6e768f;
                }

                .help-text__main-text {
                    font-size: 11px;
                    margin-left: 25px;
                    text-align: justify;
                }

                .help-text__adress a {
                    color: #a5abc5;
                    text-decoration: none;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: bold;
                    color: #6e768f;
                    margin-left: 25px;
                }

/*select what to translate section*/
.main__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-area: main__grid;
    padding-left: 40px;
    grid-template-areas:
    "select-doc__title"
    "select-doc"
    "upload-files"
    "blue1";  
}

    .select-doc__title {
        grid-area: select-doc__title;
        grid-column: 1 / 13;
    }

        .main-title {        
            font-size: 17px;
            text-align: center;
            color: #6e768f;
            padding-top: 50px;
            letter-spacing: 3px;
            font-weight: 600;
            margin-bottom: 0; 
        }

        .main-title__underline {
            color: #c9d0e1;
            background-color: #c9d0e1;
            width: 46%;
            text-align: center;
            margin-top: 10px;
            height: 1px;
            border: none;
        }

    .select-doc {
        display: grid;
        grid-area: select-doc;
        grid-column: 2 / 12;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 20px;        
        grid-template-areas:
            "website document account";
        padding: 50px 0 0 0;       
    }    

    .website {
        grid-area: website;   
    }

    .document {
        grid-area: document;
    }

    .account {
        grid-area: account;        
    }
    
    .select-document__img {
        position: relative;
        z-index: 2;
        border: 1px solid #c9d0e1;
        border-radius: 2px;
        float: right;  
    }
        .select-img {
            width: 100%;                      
        }

    input[name=doc]:checked +.select-document__img {
        border: 5px solid #76a7e1;
        border-radius: 3px;
    }

    input[name=doc]:checked +.select-document__img::after {
        z-index: 1;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f058";
        position: absolute;
        color: #76a7e1;
        background-color: white;
        left: 238px;
        top: -8px;
        line-height: 13px;
        font-size: 28px;
    }

/*section 1. Upload your documents*/
    
    .upload-files {
        display: grid;
        grid-template-columns: 1fr 2.5fr 3.5fr 3fr 1fr;
        grid-area: upload-files;
        grid-column: 1 / 12;
        grid-template-areas:
            "num-1 upload-files__title upload-files__title . ."
            ". upload__btn . . ."
            ". upload__list upload__list upload__list upload__list";
        padding: 40px 0;    
    }
    
    /* .blue1 {
        border: 2px solid #c9d0e1;
        background: blue;
        grid-area: blue1;
    } */

    .num {
        width: 20px;
        height: 20px;
        color: #6e768f;
        border: 1px solid #6e768f;
        text-align: center;
        vertical-align: middle;
        padding: 8px 8px;
        border-radius: 50%;
        font-weight: bold;
        margin: 10px 0 0 20px;
        display: inline;
    }

    .num-1{
        grid-area: num-1;
    }
        .num-1::before {
            counter-increment: heading;
            content: counter(heading);        
        }

    .upload-files__title {
        grid-area: upload-files__title;
        display: inline;
    }

        .upload-files__title-detils {
            font-size: 11px;
        }

    .upload__btn{
        grid-area: upload__btn;
        font-size: 13px;
        margin-top: 30px;
    }

        .upload__btn::before {
            font-family: "Font Awesome 5 Free";
            content: "\f382";
            font-size: 16px;
        }

    .upload__list {
        border: 1px solid #c9d0e1;
        border-radius: 3px;
        grid-area: upload__list;
        padding: 20px 30px;
        margin: 35px 0;
    }    
    .upload__table {        
        grid-row: upload-files__list;
        width: 100%;
        text-align: left;
        font-size: 12px;
        border-spacing: 7px 11px;
        font-weight: 600;         
    }

        .tb-center {
            text-align: center;
        }

/*footer*/
.footer-container {    
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: auto;
    grid-area: footer-container;

    background: #444a62;
    margin-top: 40px;   
    padding: 70px 0;
    grid-template-areas: 
    ". footer ."
}

.footer {
    display: grid;
    grid-column-gap: 30px;
    grid-area: footer;    
    grid-template-columns: 1fr 1fr 1fr 1fr;    
    grid-template-rows: auto;
    grid-template-areas:
    "what-we-do our-main-office connect-with-as bottom-logo" 
    
}

    .footer-title {
            font-size: 11px;
            font-weight: 900;
            margin-left: 15px;
        }

        .footer-text {
            font-size: 10px;
            margin-left: 36px;
        }

    .what-we-do {
        grid-template-areas: what-we-do;
        line-height: 1.5;
    }

    .our-main-office {
        grid-template-areas: our-main-office;
        margin-left: 50px;
        line-height: 1.35;
    }

    .connect-with-as {
        grid-template-areas: connect-with-as;
        margin-left: 70px;
    }

        .list__soc-list {
            list-style-type: none;
            padding-left: 30px;
            margin: 0;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
        }

        .list__soc-list li {
            margin: 0;
            padding-top: 0;
            line-height: 0.5;
        }

    .bottom-logo {
        grid-template-areas: bottom-logo;
    }

        .img-logo {
            width: 87px;
            float: right;
        }