body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #a5abc5;
    background: #eceef4;
}

.container {
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-areas:
    ". header ."
    ". main ."
    "footer footer footer"
}

.header {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    align-items: center;
    justify-content: center;
    grid-area: header;

    background: #eceef4;
    color: #a5abc5;    
    padding: 50px 0;    
}

    .btn {
        border: 1px solid #d7d9e0;
        padding: 15px 5px;
        color: #a5abc5; 
        background: #eceef4; 
        vertical-align: middle;
        font-weight: bold;
        border-radius: 4px;
        font-size: 11px;
    }

    .btn:hover {
        box-shadow: 0 0 1px rgba(0,0,0,0.5);
    }

    .left__btn svg {
        vertical-align: middle;
        fill-opacity: 0.3;
        margin-right: 4px;
    }

    .fa-user{
        margin-right: 8px;
    }

    .center__img {
        width: 90px;
        display: block;
        margin: 0 auto;
    }

.main {
    grid-area: main;

    display: grid;

    border: 2px solid #c9d0e1;
    border-radius: 3px;
    background: white;
    color: #a5abc5;
    padding: 20px 30px 40px;
    overflow: hidden;
}

    .order {
        display: grid;
        grid-template-columns: 3fr 1fr 2fr;
        grid-template-areas:
        "title btns help"
        "table btns help"
    }
  
        .order-title {
            font-size: 13px;
            font-weight: bold;
            color: #6e768f;

            grid-area: title;       
        }

            .fa-shopping-bag {
                margin-right: 5px;
            }

        .order-table {
            padding: 15px 25px;
            grid-area: table;
        }

            .order-table tr {
                font-size: 13px;
                color: #6e768f;
                text-align: left;
            }

            .order-table th {        
                padding: 10px 70px 10px 0;
            }

        .order__btn {
            grid-area: btns;
            margin-left: -30px;
            padding-right: 20px;
            border-right: 2px solid #d7d9e0;
        }

        .btn-price,
        .btn-print {
            width: 150px;
        }

        .btn-price {
            background: #5fcac6;
            color: white;
            margin: 8px 0 10px;
        }

        .help-center {
            grid-area: help;
            margin-left: 40px;
        }

            .help-text__icon {
                display: inline;
            }

            .help-text {
                display: inline;
            }

            .fa-life-ring{
                float: left; 
                margin-right: 10px;
            }

                .help-text__title {
                    font-size: 12px;
                    font-weight: bold;
                    margin: 0;
                    padding: 2px 0;
                    color: #6e768f;
                }

                .help-text__main-text {
                    font-size: 11px;
                    margin-left: 25px;
                    text-align: justify;
                }

                .help-text__adress a {
                    color: #a5abc5;
                    text-decoration: none;
                    font-size: 11px;
                    font-style: normal;
                    font-weight: bold;
                    color: #6e768f;
                    margin-left: 25px;
                }

    .order__border-bottom {
        color: #c9d0e1;
        background-color: #c9d0e1;
        width: 110%;
        margin-left: -50px;
        margin-top: 20px;
        height: 2px;
        border: none;
    }

    .main-title {
        font-size: 17px;
        text-align: center;
        color: #6e768f;
        padding-top: 50px;
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom: 0; 
    }

        .main-title__underline {
            color: #c9d0e1;
            background-color: #c9d0e1;
            width: 46%;
            text-align: center;
            margin-top: 10px;
            height: 1px;
            border: none;
        }


.footer {
    grid-area: footer;
    background: #444a62;
    color: white;
    padding: 50px 100px;
    margin-top: 40px;
}